@CHARSET "UTF-8";

body {
	background-color: #EEE;
	color: #333;
	font-family: arial, geneva, lucida, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px 40px;
}

#header {
	width: 100%
	 
}

/***************Menu***********************************************/
/*Merci à http://clagnut.com/sandbox/csstabs/?writingtext=csstabs#*/
/******************************************************************/

#menu ul {
	position:relative;
	float:left;
	width:100%;
	padding:0 0 1.75em 1em;
	margin:0;
	list-style:none;
	line-height:1em;
}

#menu li {
	float:left;
	margin:0;
	padding:0;
}

#menu A {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#menu A:hover,
#menu A:active,
#menu A.here:link,
#menu A.here:visited {
	background:#bbb;
}

#menu A.here:link,
#menu A.here:visited {
	position:relative;
	z-index:102;
}

/*subnav*/

#menu ul UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0.25em 0.25em 0.25em 1em;
	list-style:none;
	border-top:1px solid #fff;
}

#menu ul UL LI {
	float:left;
	display:block;
	margin-top:1px;
}

#menu ul UL A {
	background:#bbb;
	color:#fff;
	display:inline;
	margin:0;
	padding:0 1em;
	border:0
}

#menu ul UL A:hover,
#menu ul UL A:active,
#menu ul UL A.here:link,
#menu ul UL A.here:visited {
	color:#444;
}